version: 2.1
jobs:
  build-java8:
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    working_directory: ~/matchbook-sdk
    steps:
      - checkout
      - restore_cache:
          key: matchbook-sdk-{{ checksum "pom.xml" }}
      - run: mvn --fail-never dependency:go-offline || true
      - save_cache:
          paths:
            - ~/.m2
          key: matchbook-sdk-{{ checksum "pom.xml" }}

      - run:
          name: Build Matchbook SDK on Java 8
          command: |
            mvn clean install
            mvn surefire-report:report-only

      - run:
          name: Publish coverage reports
          command: |
            wget -O ~/codacy-coverage-reporter-assembly-latest.jar $(curl https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r '.assets[0].browser_download_url')
            java -jar ~/codacy-coverage-reporter-assembly-latest.jar report -l Java -r matchbook-sdk-rest/target/site/jacoco/jacoco.xml

      - store_test_results:
          path: matchbook-sdk-rest/target/surefire-reports

      - store_artifacts:
          path: matchbook-sdk-rest/target/site
          destination: matchbook-sdk-rest/reports

  build-java11:
    docker:
      - image: circleci/openjdk:11-jdk
    working_directory: ~/matchbook-sdk
    steps:
      - checkout
      - run:
          name: Build Matchbook SDK on Java 11
          command: |
            mvn clean install

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-java11
      - build-java8:
          requires:
            - build-java11


